# Xcode
#
build/
*.pbxproj
!default.pbxproj
*.xcworkspace
!default.xcworkspace
xcuserdata/
profile
*.moved-aside
DerivedData/
.idea/
*.hmap
*.xccheckout
*.xcscmblueprint

# CocoaPods
#
Pods/
!Podfile.lock

# Carthage
#
Carthage/Build/

# fastlane
#
Carthage/Checkouts/

# Swift Package Manager
#
.build/
Packages/
Package.pins

# other
#
.DS_Store
*.swp
*~.nib

# Secrets
.env.local
Sources/Core/Utilities/Secrets.swift
